*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #023e8a;
    color: azure;
}
main{padding: 10px;}
/* Menu de navegação */
.menu {
    background-color: #023e8a;
    display: flex;

}

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: auto;
    padding: 0 20px;
    
}  

.menu li {
    flex: 1;
    text-align: center;
    text-decoration: none;
    align-content: baseline;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #03045e;
    color:black;
}
p{
    margin: 10px;
    font-size: large;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.menu ul li a {
    color: #ebe2e2;

}

.me {
    font-size: large;
}


a {
    text-decoration: none;
}

/* Header */
header {
    background-image: linear-gradient(to right, black, blue);
    color: rgb(209, 209, 218);
    width: 100%;
    height: 500;
}

img {
    border-radius: 5px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    color: #e8f7ff;
}

.titulo {
    font-size: 2rem;
}

.banner-cab img {
    height: 60px;
}

/* Menu de navegação */
.menu {
    background-color: #023e8a;
    display: flex;
    color: #f8f8f8;


}

.menu>ul {
    display: flex;
    justify-content: baseline;
    list-style: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 90px;

}

.menu>li {
    flex: 1;
    text-align: center;

}

.menu>a {

    text-decoration: none;
    padding: 1rem;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #1a1efcd2;
    color: rgba(0, 0, 0, 0.822);


}
.language-selected.change-br::before {}

.language {
    position: relative;
    width: 120px;
    margin-left: 40px;
    font-weight: bold;
}

.language-selected {
    display: flex;
    align-items: center;
    color: #ffff;
    cursor: pointer;
}

.language-selected:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("https://flagsapi.com/BR/flat/64.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.language-selected.change-br::before {
    background-image: url("https://flagsapi.com/BR/flat/64.png");
}

.language-selected.change-en::before {
    background-image: url("https://flagsapi.com/EN/flat/64.png");
}

.language-selected.change-es::before {
    background-image: url("https://flagsapi.com/ES/flat/64.png");
}

.language ul {
    position: absolute;
    width: 140px;
    background-color: #ffff;
    border: 1px solid #f8f8f8;
    padding-top: 10px;
    box-shadow: rgba(0, 10, 20, );
    display: none;
}

.language ul li {
    list-style: none;

}

.language ul li a {
    display: block;
    color: black;
    padding-top: 5px, 10px, ;
}

.language ul li:hover {
    background-color: #f8f8f8f8;
}


